<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.dribbble.com/users/722614/screenshots/19045033/media/bd3c0e5fae07d09a57514623188ed14c.jpg)">
  Save any kind of Movies
</div>
<div class="m-3">
<% @lists.each do |list|%>
  <li><%= link_to list.name, list %></li>
  <p><%= link_to "ðŸ—‘ï¸", list_path(list),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></p>
<% end %>
</div>


<p><%= link_to "Add a new List", new_list_path %></p>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>
